* {
  margin: 0;
  padding: 0;
  user-select: none;

  /* border: 2px solid red; */
}

.hidden {
  display: none;
}

#screen-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  width: 608px;
  height: 448px;
  margin: auto;
  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1527379317/hole-1-bg-test-608x448_z3n1ll.png");
  border: 1px solid black;
}

#shot-UI-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 397px;
  width: 400px;
  height: 50px;
  margin: auto;

  /* border: 1px solid black; */
}

#shot-power-meter {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  width: 250px;
  height: 20px;
  margin: auto;
  border: 1px solid black;
  border-radius: 2px;
  background-color: lightYellow;
  z-index: 0;
}

#power-indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 4px;
  height: 18px;
  margin: auto;
  border: 1px solid darkGray;
  border-radius: 1px;
  background-color: lightGray;
  z-index: 1;
}

#indicator-trail {
  position: absolute;
  left: 8px;
  top: 3px;
  width: 4px;
  height: 14px;
  border-radius: 1px;
  background-color: darkGray;
  z-index: -1;
}

.power-indicator-move-right {
  transform: translate(217px);
  transition: transform 1200ms linear;
}

.power-indicator-move-return {
  transform: translate(0px);
  transition: transform 1200ms linear;
}

.power-indicator-move-left {
  transform: translate(-27px);
  transition: transform 1470ms linear;
}

.power-indicator-finish-left {
  transform: translate(-27px);
  transition: transform 270ms linear;
}

.expand-trail {
  width: 220px !important;
  transition: width 1220ms linear;
}

.retract-trail {
  width: 4px !important;
  transition: width 1220ms linear;
}

#indicator-ghost {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 4px;
  height: 18px;
  margin: auto;
  border: 1px solid darkGray;
  border-radius: 1px;
  background-color: lightGray;
  z-index: -1;
}

#meter-release-middle {
  position: absolute;
  left: 20px;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: darkBlue;
}
