* {
  margin: 0;
  padding: 0;
  user-select: none;

  /* border: 2px solid red; */
}

.hidden {
  display: none;
}

#basket {
  position: absolute;
  left: -16px;
  right: 0;
  top: 6px;
  margin: auto;
  z-index: 1;
}

#shot-preview-pointer {
  position: absolute;
  left: -12px;
  right: 0;
  top: 20px;
  margin: auto;
  z-index: 2;
}

#teepad {
  position: absolute;
  left: 0;
  right: 0;
  top: 320px;
  margin: auto;
  box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

#player-sprite {
  position: absolute;
  left: 0;
  right: 0;
  top: 330px;
  margin: auto;
  z-index: 3;
}

.player-drive-movement {
  position: absolute;
  transform: translate(0px, -25px);
  transition: transform 1400ms ease-in;
}

#disc-temp {
  position: absolute;
  left: 18px;
  right: 0;
  top: 350px;
  margin: auto;
  z-index: 2;
}

#disc-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 342px;
  width: 10px;
  height: 10px;
  margin: auto;
  z-index: 1;

  /* border: 1px solid black; */
}

#disc {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1527429339/DG-GAME-PROTO/disc-16x16_wi4gex.png");
  background-repeat: no-repeat;
  z-index: 1;
}

.disc-shot {
  transition: transform 2200ms ease-out;
}

.disc-shot-end {
  transition: transform 1500ms ease-out;
}

#disc-shadow {
  position: absolute;
  left: -3px;
  right: 0;
  top: -3px;
  width: 16px;
  height: 16px;
  margin: auto;
  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1527519341/DG-GAME-PROTO/disc-shadow-8x8_dnj2yb.png");
  background-repeat: no-repeat;
}

#screen-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  width: 608px;
  height: 448px;
  margin: auto;
  background-image: url("https://res.cloudinary.com/dtwyohvli/image/upload/v1529066842/DG-GAME-PROTO/hole-test-latest-608x448_jrjzo0.png");
  border: 1px solid black;
}

#shot-UI-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 397px;
  width: 400px;
  height: 50px;
  margin: auto;

  /* border: 1px solid black; */
}

#shot-power-meter {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  width: 250px;
  height: 20px;
  margin: auto;
  border: 1px solid black;
  border-radius: 2px;
  background-color: lightYellow;
  z-index: 0;
}

#release-point-good {
  position: absolute;
  left: 20px;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: darkBlue;
}

#release-point-perfect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 4px;
  height: 18px;
  margin: auto;
  border: 1px solid white;
  border-radius: 1px;
  background-color: white;
  z-index: 0;
}

#power-indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 4px;
  height: 18px;
  margin: auto;
  border: 1px solid darkGray;
  border-radius: 1px;
  background-color: lightGray;
  z-index: 1;
}

.power-indicator-move-right {
  transform: translate(217px);
  transition: transform 1200ms linear;
}

.power-indicator-move-return {
  transform: translate(0px);
  transition: transform 1200ms linear;
}

.power-indicator-move-left {
  transform: translate(-27px);
  transition: transform 1470ms linear;
}

.power-indicator-finish-left {
  transform: translate(-27px);
  transition: transform 270ms linear;
}

#indicator-trail {
  position: absolute;
  left: 8px;
  top: 3px;
  width: 4px;
  height: 14px;
  border-radius: 1px;
  background-color: darkGray;
  z-index: -1;
}

.expand-trail {
  width: 220px !important;
  transition: width 1220ms linear;
}

.retract-trail {
  width: 4px !important;
  transition: width 1220ms linear;
}

#indicator-ghost {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 4px;
  height: 18px;
  margin: auto;
  border: 1px solid darkGray;
  border-radius: 1px;
  background-color: lightGray;
  z-index: 0;
}
